.Header {
    width: 100%;
    height: 44px;
    color: #c4d4eb;
    background-color: #659dbd;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 64px;
    grid-template-rows: 44px 0.001px;
}

.Image {
    position: relative; 
    left: 12px;
    bottom: 1px;
    width: 38px;
    animation: walk 3.5s 1s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 100;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Title {
    position: relative;
    outline: none;
    color: white;
    left: 42px;
    top: 2px;
    font-size: 26px;
    font-family: 'Mansalva', cursive;
    margin-top: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Link {
    color: white;
    text-decoration: none;
    outline: none;
}

.AccountButton {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row-start: 1 / 2;
    align-self: center;
    justify-self: center;
}

.AccountFigure {
    width: 28px;
    position: relative;
    left: 20px;
    top: 8px;
}


@media (min-width: 700px){
    .Header {
        height: 56px;
        grid-template-columns: auto 82px;
        grid-template-rows: 56px 0.001px;
    }

    .Image {
        width: 50px;
        bottom: 1px;
        right: 2px;
        animation: walkFurther 3.5s 1s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .Title {
        bottom: 64px;
        left: 52px;
        font-size: 32px;
    }


    .AccountFigure {
        width: 38px;
        position: relative;
        left: 20px;
        top: 8px;
        border-radius: 100%;
    }

    /* .AccountFigure:hover,
    .AccountButton:hover {
        box-shadow: 3px 3px 6px grey;
    } */
}



@keyframes walk {
    0% {
        transform: rotateZ(0);
    }
    20% {
        transform: translateX(156px) rotateZ(10deg) ;
    }
    40% {
        transform: translateX(156px) rotateZ(-10deg);
    }
    60% {
        transform: rotateZ(10deg);
    }
    80% {
        transform: rotateZ(-10deg);;
    }
    100% {
        transform: rotateZ(0);
    } 
}


@keyframes walkFurther {
    0% {
        transform: rotateZ(0);
    }
    20% {
        transform: translateX(200px) rotateZ(10deg) ;
    }
    40% {
        transform: translateX(200px) rotateZ(-10deg);
    }
    60% {
        transform: rotateZ(10deg);
    }
    80% {
        transform: rotateZ(-10deg);;
    }
    100% {
        transform: rotateZ(0);
    } 
}





