.Result {
    border: 1px solid black;
    box-shadow: 2px 2px 2px grey;
    padding: 2px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 112px auto;
    grid-template-rows: auto .001px;  
}

/* .Result:hover {
    box-shadow: 4px 4px 4px grey;
     border: 1.2px solid black;
} */


.Image {
    width: 112px;
    border: 1px solid black;
    justify-self: center;
    align-self: center;
}

.TextGroup {
    justify-self: center;
    align-self: center;
    padding: 0px 4px;
}

.Name,
.Variant, 
.Edition {
    margin: 0;
}

@media (min-width: 700px) { /*Monitor sizes*/
    .Result {
        grid-template-columns: 125px auto;
    }
   
    .Image {
        width: 125px;
    }
}